# Expresiones Regulares

In [ ]:
import pandas as pd
import regex as re

In [ ]:
data = [
    ['SEDAN 3 PUERTA '],
    ['  SEDAN 3 PUER'],
    ['  SEDAN 3 PU.']]

df = pd.DataFrame(data, columns=['descripcion'])

In [ ]:
df['descripcion'] = df['descripcion'].apply(lambda x: (str(x).strip()).lower())
df['descripcion'] = df['descripcion'].apply(lambda x: x.replace('.',''))

In [ ]:
df['descripcion']

0    sedan 3 puerta
1      sedan 3 puer
2        sedan 3 pu
Name: descripcion, dtype: object

In [ ]:
re.search('(puer)','sedan 3 puerta')

In [ ]:
#| indica un "or" es decir buscamos cualquiera de las 3 alternativas
re.search('(puerta|puer|pu)','sedan 3 puerta')

In [ ]:
#$ Indica el fin de la cadena
re.search('(puer$)','sedan 3 puerta')

In [ ]:
#^ Indica el inicio de la cadena
re.search('^(puer)','sedan 3 puerta')

In [ ]:
#\d coincide con dígitos numéricos. Equivalente [0-9]
re.search('\d','sedan 3 puerta') #re.search('[0-9]','sedan 3 puerta')

In [ ]:
#\D coincide con digitos alfabeticos, es lo mismo que [^0-9]
re.search('\D','sedan 3 puerta') #re.search('[^0-9]','sedan 3 puerta')

In [ ]:
#( *) puedo o no existir un espacio en blanco, {4,8} entre 4 y 8 digitos
re.search('(\D{4,8})( *)(\d{1})( *)(\D{4,8})','sedan 3 puerta')

In [ ]:
re.search('(\D{4,8})( *)(\d{5})( *)(\D{4,8})','sedan 3 puerta')

In [ ]:
re.search('(\D{4,8})( *)(\d{1,5})( *)(\D{4,8})','sedan 345 puerta')

In [ ]:
df['descripcion'].apply(lambda x: bool(re.search('(puerta|puer|pu)($)', str(x))))

0    True
1    True
2    True
Name: descripcion, dtype: bool

In [ ]:
df['descripcion'].apply(lambda x: bool(re.search('^(puerta|puer|pu)', str(x))))

0    False
1    False
2    False
Name: descripcion, dtype: bool

In [ ]:
df['descripcion'].apply(lambda x: bool(re.search('(puerta|puer|pu)$', str(x))))

0    True
1    True
2    True
Name: descripcion, dtype: bool

In [ ]:
df['descripcion'].apply(lambda x: re.sub('(puerta|puer|pu)', 'puertas', str(x)))

0    sedan 3 puertas
1    sedan 3 puertas
2    sedan 3 puertas
Name: descripcion, dtype: object