In [8]:
import pandas as pd

In [26]:
#cremos una list con los datos
data = [
'Salta',
'Jujuy',
'Rio Negro',
'Santa Cruz',
'Buenos Aires',
'Cordoba',
'Misiones',
'Entre Rios'
]

#cramos el dataframe
df = pd.DataFrame(data, columns=['location'])

In [28]:
dic_location = {'zona_norte': ['Salta','Jujuy'],
                'zona_sur':['Rio Negro','Santa Cruz'],
                'zona_centro':['Buenos Aires', 'Cordoba'],
                'zona_litoral':['Misiones', 'Entre Rios']
}

df['new_location']= df['location']

In [32]:
for i in dic_location :
    df['new_location'] = df['new_location'].replace(dic_location [i], i)

#para visualizar las columnas
df

       location  new_location
0         Salta    zona_norte
1         Jujuy    zona_norte
2     Rio Negro      zona_sur
3    Santa Cruz      zona_sur
4  Buenos Aires   zona_centro
5       Cordoba   zona_centro
6      Misiones  zona_litoral
7    Entre Rios  zona_litoral