# Strings

In [5]:
s1 = 'numero de telefono' #variable
s2 = 12345
s3 = 6789

In [6]:
type(s1) #esto es un string

str

In [7]:
type(s2) #esto no es un string

int

In [8]:
type(str(s2)) #esto es un string

str

In [9]:
type(s2)

int

In [10]:
type(s3)

int

In [11]:
s3 = str(s3)

In [12]:
type(s3)

str

## Concatenacion de strings

In [14]:
print(s1, s2 )

numero de telefono 12345

In [15]:
s1 + ': ' + str(s2) #concatener strings sumandolos #Si no nombro a la variable s2 como str y la nombro solamente s2 me va a dar error, porque es originalmente Entero

'numero de telefono: 12345'

In [16]:
print('hola como andas?\nbien y vos?') ## \n salto de linea

hola como andas?
bien y vos?

In [17]:
print('USD 12.000\nUSD 13.000')

USD 12.000
USD 13.000

## Repeticion de strings

In [19]:
(s1 + ' ')* 5

'numero de telefono numero de telefono numero de telefono numero de telefono numero de telefono '

In [20]:
('Martín ')*5

'Martín Martín Martín Martín Martín '

## Funcion format

In [22]:
print('mi numero de sesion es: {}'.format(s2)) #esta es la forma en la que puede convivir un str + un entero

mi numero de sesion es: 12345

In [23]:
f'mi numero de sesion es: {s2}' #esto es el str, mientras que lo de arriba es el print de un str

'mi numero de sesion es: 12345'

## Substrings

In [25]:
s = 'mi mama es maestra'

In [26]:
len(s) #son los caracteres totales de ese str #len se aplica no solo a variables sino a listados, revisar!

18

In [27]:
s[0]

'm'

In [28]:
s[-1] #es igual que acceder como s[17]

'a'

In [29]:
s[0:7] #esto significa que trae del 0 al 7mo caracter, pero no incluye el 8vo caracter

'mi mama'

In [30]:
s[:7] #si no pongo el 0, y comienzo con los dos puntos, se entiende que comienza a leer desde el caracter cero

'mi mama'

## Métodos para trabajar con strings

In [32]:
'STRING'.lower() # convierte el string a minusculas

'string'

In [33]:
'string'.upper() # convierte el string a mayusculas

'STRING'

In [34]:
'STRING'.swapcase() # si el string esta en minusculas lo convierte en mayusculas y viceversa

'string'

In [35]:
'el perro no ladra'.split(' ') #divide el string segun el caracter que le indiquemos y elimina dicho caracter y te lo devuelve como LISTA

['el', 'perro', 'no', 'ladra']

In [36]:
'el perro  no ladra'.replace('  ',' ') #reemplazar los dobles espacios por espacio simple

'el perro no ladra'

In [37]:
'el perro no ladra'.split('e') #divide el string segun el caracter que le indiquemos y elimina dicho caracter

['', 'l p', 'rro no ladra']

In [38]:
'    ejemplo    '.rstrip() #eimina los espacios en blanco al final

'    ejemplo'

In [39]:
'    ejemplo    '.lstrip() #eimina los espacios en blanco al inicio

'ejemplo    '

In [40]:
'    ejemplo    '.strip() #eimina los espacios en blanco al inicio y al final

'ejemplo'

In [41]:
((('   Sedan 5  puertas   furgon '.strip()).replace('  ',' ')).replace('   ',' '))

'Sedan 5 puertas  furgon'

In [42]:
frase = (('   Sedan 5  puertas   furgon '.strip()).replace('  ',' '))

In [43]:
print(frase)

Sedan 5 puertas  furgon

In [44]:
frase.replace('  ',' ')

'Sedan 5 puertas furgon'

In [45]:
len('ejemplo') #nos devuelve la cantidad de caracteres que contiene el string

7

In [46]:
'el perro no ladra'.count('e') #cuenta la cantidad de veces que un caracter o string aparece adentro de otro string

2

In [47]:
'el perro no ladra'.find('e') #busca el caracter que le indiquemos y nos devuelve la posicion la primera posicion en la que se encuentra

0

In [48]:
'el perro no ladra'.find('e',2,6)  # find con start y end, indico donde quiero que arranque la busqueda y donde quiero que termine (criterio, inicio, fin)

4

In [49]:
'el perro no ladra'[4]

'e'

In [50]:
'el perro no ladra'.find('q') #si nos devuelve -1 es porque el caracter no se encontro

-1

In [51]:
'el perro no ladra'.find(' ')

2

In [52]:
'el perro no ladra'.replace('perro','gato')

'el gato no ladra'

## Transformar strings dentro de un dataset

In [54]:
import pandas as pd

data = [
    ['SEDAN 3 PTAS '],
    ['  SEDAN 3 PTAS'],
    ['  SEDAN 3 PTAS.'],
    ['SEDAN 3 PUERTAS     '],
    ['     SEDAN 3 PUERTAS']
]

df = pd.DataFrame(data, columns=['descripcion'])

In [55]:
df

            descripcion
0         SEDAN 3 PTAS
1          SEDAN 3 PTAS
2         SEDAN 3 PTAS.
3  SEDAN 3 PUERTAS
4       SEDAN 3 PUERTAS

In [56]:
df[df['descripcion'] == 'SEDAN 3 PUERTAS']

Empty DataFrame
Columns: [descripcion]
Index: []

In [57]:
for i in range(len(df)):
  print(i)

0
1
2
3
4

In [58]:
for i in range(len(df)):
    df.loc[i,'descripcion'] = str(df.loc[i].descripcion).strip().lower()
    df.loc[i,'descripcion'] = str(df.loc[i].descripcion).replace('.','')
    df.loc[i,'descripcion'] = str(df.loc[i].descripcion).replace('ptas','puertas')
    # Bucle For

In [59]:
len(df)

5

In [60]:
df[df['descripcion'] == 'sedan 3 puertas']

       descripcion
0  sedan 3 puertas
1  sedan 3 puertas
2  sedan 3 puertas
3  sedan 3 puertas
4  sedan 3 puertas

In [61]:
df['descripcion'] = df['descripcion'].apply(lambda x: (str(x).strip()).lower())
df['descripcion'] = df['descripcion'].apply(lambda x: x.replace('.',''))
df['descripcion'] = df['descripcion'].apply(lambda x: x.replace('ptas','puertas'))

In [62]:
df[df['descripcion'] == 'sedan 3 puertas']

       descripcion
0  sedan 3 puertas
1  sedan 3 puertas
2  sedan 3 puertas
3  sedan 3 puertas
4  sedan 3 puertas