In [1]:
import pandas as pd

#cremos una list con los datos
data = [
    ['ford fiesta', 23],
    ['volkswagen'],
    ['ford fiesta', 23],
    ['ford fiesta'],
    ['volkswagen', 26],
    ['nissan'],
    ['volkswagen'],
    ['Chevrolet', 45],
    ['ford'],
    ['ford', 29],
    ['toyota', 37],
    ['nissan', 78],
    ['bmw']
]

#cramos el dataframe
df = pd.DataFrame(data, columns=['descripcion', 'codigo'])

In [2]:
#creamos un lista con los modelos de autos que poseen codigo nulos
list_autos = list(df[df.codigo.isna()].descripcion.unique())
list_autos

['volkswagen', 'ford fiesta', 'nissan', 'ford', 'bmw']

In [3]:
#observamos si esos modelos de autos tienen el dato del codigo en otras filas
df[df.descripcion.isin(list_autos)][['descripcion','codigo']].value_counts(dropna=False)

descripcion  codigo
ford fiesta  23.0      2
volkswagen   NaN       2
bmw          NaN       1
ford         29.0      1
             NaN       1
ford fiesta  NaN       1
nissan       78.0      1
             NaN       1
volkswagen   26.0      1
Name: count, dtype: int64

In [4]:
#iteramos por los modelos de autos que tenemos en la lista, filtramos el dataset por cada uno de ellos y le asignamos el valor que se encuentra en las filas no nulas (si es que existe, primero se valid en el if)

for auto in list_autos:
    if len(df.loc[(df['descripcion'] == auto) & ~(df.codigo.isna()),'codigo']) != 0:
        df.loc[(df['descripcion'] == auto) & (df.codigo.isna()),'codigo'] = df[(df['descripcion'] == auto) & ~(df.codigo.isna())].codigo.unique()[0]

In [5]:
for auto in list_autos:
    if len(df.loc[(df['descripcion'] == auto) & ~(df.codigo.isna()),'codigo']) != 0:
        df.loc[(df['descripcion'] == auto) & (df.codigo.isna()),'codigo'] = df[(df['descripcion'] == auto) & ~(df.codigo.isna())].codigo.unique()[0]

In [6]:
df[df.descripcion.isin(list_autos)][['descripcion','codigo']].value_counts(dropna=False)

descripcion  codigo
ford fiesta  23.0      3
volkswagen   26.0      3
ford         29.0      2
nissan       78.0      2
bmw          NaN       1
Name: count, dtype: int64